{{!-- logo div --}}
<div class="container d-flex justify-content-center">
  <div class="row">
    <img class="img-fluid" src="./assets/img/burger_logo_sm.png" id="logo">
  </div>
</div>

{{!-- new burger div --}}
<div class="container d-flex justify-content-center" id="submit-div">
  <div class="row">
    <div class="col-md-12">
      <h2 id="submit-text">Create a Burger to Add to the Menu</h2>
          <form action="/burgers" method="POST">
              <input type="text" id="name" name="burger_name" placeholder="">
              <button type="submit" class="btn btn-outline-dark">Add Burger</button>
          </form>
    </div>
  </div>
</div>

{{!-- menu div --}}
    <div class="container d-flex justify-content-center" id="menu-div">
      <div class="row">
        
        <div class="col-md-12">
          <h1>MENU</h1>
          <h6>Click on any burger to DEVOUR!</h6><hr>
        </div>
        
        <div class="row">

          {{!-- order up side --}}
        <div class="col-md-6" id="orderup-div">
          <h2>Order Up</h2>
          {{#each burgers}}
          
            {{#unless this.devoured}}
              <div>
                <form action="/burgers/{{this.id}}" method="POST" id="burger-button">
                  <button type="submit" class="btn btn-outline-dark"> {{this.burger_name}}</button>
                </form>
              </div>
            {{/unless}}
      
          {{/each}}
        </div>

          {{!-- clean plate side --}}
        <div class="col-md-6" id="cleanplate-div">
          <h2>Clean Plate Club</h2>
          {{#each burgers}}
            {{#if this.devoured}}
              <div>
                <div>
                  {{this.burger_name}}
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
        </div>
        


      </div>
    </div>


